.ipa-card-container {
    width: 100%;
    height: 160px;
    perspective: 1000px;
    cursor: pointer;
}

.ipa-card {
    background-color: white;
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 550ms ease-in-out;
}

.ipa-card-container:hover .ipa-card {
    transform: rotateY(-180deg);
}

.card-front, .card-back {
    position: absolute;
    inset: 0;
    padding: 3rem;
    background-color: white;
    border-radius: 0.5rem;
    font-size: 2rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}