.auth-section {
    min-height: 100vh;
    width: 100%;
    background-image: url(../assets/multiple-languages.png);
    background-color: rgba(0,0,0,0.7);
    background-size: cover;
    background-blend-mode: darken;
    padding: 2rem;
    position: relative;
}

.auth-section .logo-container {
    margin: 0 auto;
}

.auth-section .form {
    width: 50%;
    padding: 2rem 3rem;
    background-color: white;
    text-align: center;
    margin: 3rem auto;
}

.auth-section .form .form-title {
    color: hsl(200, 100%, 29%);
    font-size: 2rem;
}

.auth-section .form .form-group {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.5rem;
}

.auth-section .form .form-submit-btn {
    margin-top: 2rem;
    width: 100%;
    padding: 1rem;
    background-color: hsl(200, 100%, 29%);
    color: white;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    transition: 350ms ease-in-out;
}

.auth-section .form .form-submit-btn:hover {
    background-color: hsl(200, 100%, 50%); 
}

.auth-section .form .form-submit-btn:active {
    background-color: hsl(200, 100%, 15%); 
}

.auth-section .form .form-submit-btn:disabled {
    background-color: lightgrey;
}

.auth-section .form .form-group label {
    font-size: 1rem;
    font-weight: 500;
}

.auth-section .form .form-group input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid hsl(200, 100%, 29%);
    outline: none;
    border-radius: 0.25rem;
    transition: border-width 350ms ease-in-out;
}

.auth-section .form .form-group input:focus {
    border-width: 2px;
}

.auth-section .error-box {
    width: 100%;
    background-color: hsla(0, 70%, 50%, 30%);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    border: 1px solid hsla(0, 70%, 50%, 80%);
    color: hsla(0, 70%, 50%, 100%);
}

.auth-section .message-box {
    width: 100%;
    background-color: hsla(150, 70%, 50%, 30%);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    border: 1px solid hsla(150, 70%, 50%, 80%);
    color: hsla(150, 70%, 50%, 100%);
}

.auth-section .spinner-container {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    font-size: 7rem;
    color: hsl(200, 100%, 29%);
    animation: spinner 3s linear infinite ;
}

@keyframes spinner {
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 995px) {
    .auth-section .form {
        width: 70%;
    }
}

@media screen and (max-width: 670px) {
    .auth-section .form {
        width: 80%;
        padding: 1rem 2rem;
    }
    
    .auth-section .form .form-title {
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 450px) {
    .auth-section .form {
        width: 90%;
        padding: 1rem;
    }
}